.card {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
  border: 0;
  border-radius: 10px;
  padding: 3rem;
}
.current-card-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 3rem;
  padding-bottom: 6rem;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(251, 248, 248, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.current-icon {
  width: 40%;
}
.current-info {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.card-body-days {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-top: -2.5rem
 
}
.weekly-days {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px;
  padding-left: 5rem;
  padding-right: 5rem;
  align-items: center;
  justify-content: space-evenly;
}

.additional-info-bar {
  display: flex;
}

.weather-date-location {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-grey{
  color: lightgrey;
}
.text-white{
  color: white
}