.add-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  gap: 1rem;
  color:#969696;
}

.add-info img {
  width: 40%;
}

.add-info span {
  font-size: smaller;
}
.text-grey{
  color: lightgrey;
}
