.search-form {
  position: relative;
  margin-bottom: 70px;
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}
.search-form input[type="text"] {
  width: 100%;
  padding: 20px 50px 20px 20px;
  background: #1e202b;
  color: white;
}
.search-form button[type="submit"] {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0 40px;
  height: 50px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search-div-left {
  display: flex;
  flex-direction: column;
  width: 100%;
}

